.toolbar {
   color: white;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.addevent-btn {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
}
ion-back-button {
    color: white !important;
}