<ion-content>
  <div class="app-name-container">
    <ion-label class="app-name">Pillivery</ion-label>
  </div>
  <div class="forgot-container">
    <ion-label class="fs-30">Forgot Password</ion-label>
  </div>
  <div>
    <ion-item class="pl-20 pr-20">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <div class="ta-centre mt-20">
      <ion-button class="verify-btn" (click)="verifyEmail()" fill="clear">Send Verification Code</ion-button>
    </div>
  </div>
</ion-content>