<ion-content>
  <div class="app-name-container">
    <ion-label class="app-name">Pillivery</ion-label>
  </div>
  <div class="forgot-container">
    <ion-label class="fs-30">Forgot Password</ion-label>
  </div>
  <div>
    <ion-item class="pl-20 pr-20">
      <ion-label position="floating">Enter Verification Code</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <div class="ta-centre mt-20">
      <ion-button class="verify-btn" (click)="verifycode()" fill="clear">Verify</ion-button>
    </div>
  </div>
</ion-content>