<ion-content>
  <div class="app-name-container">
    <ion-label class="app-name">Pillivery</ion-label>
  </div>
  <div class="forgot-container">
    <ion-label class="fs-30">Reset Password</ion-label>
  </div>
  <div>
    <ion-item class="pl-20 pr-20">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item class="pl-20 pr-20">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <div class="ta-centre mt-20">
      <ion-button class="reset-btn" (click)="resetpassword()" fill="clear">Reset Password</ion-button>
    </div>
  </div>
</ion-content>